.workspace-wrapper {
    .phase-container {
        height: 20vw !important;
        .phase-wrapper{
            margin-top: -30px;
        }
    }
    .lm-step {
        svg {
            width: 100px;
            height: 100px;
            text {
                font-family: 'dk_black_bamboo-webfont';
            }
        }
        .lm-step-button {
            &.active {
                svg {
                    color: $lm-blue-1;
                }
            }
            &.inactive {
                svg {
                    color: $lm-red-1;
                }
            }
        }
    }

    .phase-explainer-container{
        background: white;
        margin: -60px auto 30px;
        z-index: 30;
        position: relative;
        .title-wrapper{
            padding: 20px 0;
            h2,h3{
                text-align: center;
            }
            h2{
                margin-top: 0;
            }
            h3{
                font-size: 1.5rem;
                margin-top: 10px;
            }
        }
    }
}