.workspace-wrapper {
    background: #FFFFFF;
    .phase-container {
        height: 300px !important;
        margin: 50px 0 30px;
        &.empty{
            height: 200px !important;
        }
    }
    .stepper-container{
        justify-content: space-between;
        padding: 0;
    }
    .lm-step-connector{
        @include breakpoint-max($breakpoints-sm){
            display: none;
        }
    }
    .lm-step {
        margin: 0 25px;
        @include breakpoint-max($breakpoints-sm){
            padding: 0;
        }
        svg {
            width: 100px;
            height: 100px;
            text {
                font-family: 'dk_black_bamboo-webfont';
            }
        }
        .lm-step-button {
            &.active {
                svg {
                    color: $lm-blue-1;
                }
            }
            &.inactive {
                svg {
                    color: $lm-red-1;
                }
            }
            &.selected {
                svg {
                    width: 130px;
                    height: 130px;
                }
            }
        }
    }

    .phase-explainer-container{
        background: white;
        margin: -60px auto 30px;
        z-index: 30;
        position: relative;
        .explainer-actions{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            h3{
                width: 100%;
            }
        }
        .title-wrapper{
            padding: 20px 0;
            h2,h3{
                text-align: center;
            }
            h2{
                font-weight: 600;
                margin-bottom: 0;
                margin-top: 0;
            }
            h3{
                font-size: 1.5rem;
                margin-top: 5px;
                margin-bottom: 15px;
            }
        }
    }
}