.onboarding-wrapper{
    .onboarding-container, .grid-container{
        @include breakpoint($breakpoints-lg){
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}