.onboarding-header{
    h2,h3{
        max-width: 100% !important;
    }
    h2{
        font-size: 3.3125rem;
        line-height: 1.15em;
        @include breakpoint-max($breakpoints-sm){
            font-size: 1.9rem;
        }
    }
}