/*Within this file the styling of the playground map will be placed*/

.playground.autosuggest {
    position: relative;
    z-index: 10;
    background: white;
    opacity: 0.9;
    input{
        padding: 15px;
    }
}

.playground-map-container{
    padding: 0 !important;
    @include breakpoint-max($breakpoints-lg){
        min-height: 400px !important;
    }
    @include breakpoint-max($breakpoints-sm){
        min-height: 100vw !important;
    }
    .playground-map{
        width: 100%;
        min-height: 400px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

/*Styling the stubborn autosuggest tooltip*/
div[role=tooltip] {
    z-index: 99;
}