.onboarding-header {
    h1 {
        margin-top: 0;
    }
    h2 {
        max-width: 100% !important;
    }
}

.playground-statistics.wrapper {
    .grid-item {
        max-width: 100% !important;
    }
    @include breakpoint-max($breakpoints-lg) {
        padding: 35px 0;

        .statistic-container {
            h2 {
                font-size: 1.5rem;
                span {
                    font-size: 3rem;
                }
            }
        }
    }
}

.playground-form-container{
    min-height: 587px;
    h2, p{
        padding: 0 15px;
    }
    .form-control{
        width: 100%;
    }
}

.FormDialog{
    .form-control{
        width: 100%;
        margin: 15px 0;
        padding: 0;
    }
    .dialog-actions{
        margin: 15px;
    }
    .add-playground-pin-title{
      font-weight: bold;
      display: block;
      font-size: 20px;
      margin-top: 10px;
    }
}

.FormDialog-container{
    button{
        float: left;
    }
}

.statistics-wrapper{
    margin-bottom: 25px;
}
