/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: http://www.fonts.com
*/

/*Webfonts through font-face & mixins*/
@include font-face('dk_black_bamboo-webfont');
@include font-face('montserrat-light-webfont');

.grunge-title {
    font-family: 'dk_black_bamboo-webfont';
    color: $lm-blue-1;
}

.title {
    font-family: 'montserrat-light-webfont';
}

.font-montserrat {
    font-family: 'montserrat-light-webfont';
}

.font-bamboo {
    font-family: 'dk_black_bamboo-webfont';
}

/*Define colours*/
.lm-blue-1 {
    color: $lm-blue-1;
}

.lm-blue-2 {
    color: $lm-blue-2;
}

.lm-blue-3 {
    color: $lm-blue-3;
}

.lm-red-1 {
    color: $lm-red-1;
}

.lm-red-2 {
    color: $lm-red-2;
}

.lm-red-3 {
    color: $lm-red-3;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.flex-divide{
    display: flex;
    justify-content:  space-between;
}